footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
    background-color: #E2E2E2;
    margin: auto;
    padding: 0.5rem 3rem;
}